# Dependencies
node_modules/
/.expo/
/.expo-shared/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local

# Production
/build/
/dist/

# OS
.DS_Store
*.pem

# Testing
/coverage

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
